@keyframes open-result {
    0% {
        height: 0;
    }
    50% {
        height: 150px;
    }
    100% {
        height: 300px;
    }
}

#selecta-result {
    width: 400px;
    max-height: 300px;
    border: 1px solid #ddd;
    overflow-y: scroll;
    animation: open-result 0.8s;
}

#selecta-result ul {
    margin: 0;
    padding: 0;
}

#selecta-result li {
    padding: 10px;
}

#selecta-result li.selected  {
    background-color: #4286f4;
}